*.*Preview
*.PrjPCBStructure
*.PrjPcbStructure
*.*_loc
Project Outputs*
Project Logs*
History*
backup
old
*_old.*
*.rep
*.Cam
*.htm
*.DXPprf
*.dat
*.DsnWrk
*.PNG
*.png
*.JPG
*.jpg
*.LDP
*.DRR
*.Log
Status Report.Txt
